<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>WALTER</title>
</head>
<body>
    <div class="app__wrapper">
        <div class="app__container">
            <h1>WALTER</h1>
            <div class="stats">
                <p class="stat" id="soil">Soil Moisture:</p>
                <p class="stat" id="water">Last Watered:</p>
            </div>
            <canvas id="chart" height="200px"></canvas>
        </div>
    </div>
    <div class="footer__wrapper">
        <select class="data-range" id="data-range">
            <option value="3">3h</option>
            <option value="12" selected="selected">12h</option>
            <option value="48">48h</option>
            <option value="730">1mo</option>
        </select>
        <p id="countdown" class="countdown"></p>
    </div>
    <script src="{{ url_for('static', filename='index.js' )}}"></script>
</body>
</html>